OPENAI_API_KEY="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"
LANGCHAIN_API_KEY="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"
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_PROJECT="langsmith-academy"
